.authInput {
  width: 100%;
}
.form-group {
  width: 100%;
  margin: 5px 1em;
}
.formCard {
  padding: 1em;
  height: 400px;
  margin-top: 20vh !important;
}

@media only screen and (max-width: 800px) {
  .formCard {
    margin-top: 7vh !important;
  }
}
