html,
body {
  height: 100%;
  width: 100%;
  background-color: none !important;
}
.main {
  flex:1;
  justify-content: center;
  height:100%;
}
.landingBG {
}


.App {
  text-align: center;
  height:100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 800px) {
}
