html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: url("./assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  background: url("./assets/beeVector.svg") no-repeat;
  background-size: contain;
  background-position: left;
  position: relative;
  float: left;
  width: 65px;
  min-height: 65px;

  /* animation: App-logo-spin infinite 20s linear; */
}
.contentContainer {
  text-align: center;
  height: 100%;
}
.buttons {
  height: 150px;
  margin-top: 32vh;
}
.buttons h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 500%;
  text-shadow: 4px 4px 8px #000000;
  letter-spacing: 10px;
  margin: 0;
}
.tagline {
  color: #fff;
  font-size: 120%;
  margin-bottom: 1em;
}
.buttons button {
  margin: 0 5px;
}
.logoText {
  padding-top: 0.45em;
  font-size: 960%;
}
.navbar {
  height: 60px;
  /* background: #fff; */
}
.navbar a {
  color: #000;
}
@media only screen and (max-width: 780px) {
  .navbar {
    height: auto;
    min-height: 60px;
  }
}
