h1 {
  font-family: "Dosis", sans-serif;
}
.logoText {
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
}
a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
