.dashboardNavLink {
  color: #ccc;
  cursor: pointer;
}
.dashboardNav {
  margin-top: 2em;
  background-color: #fff;
}
.dashboardNavLink {
  width: 100%;
}
.adminDashboard {
}
.dashboardContainer {
  background: #fff;
  width: 100%;
  height: 80vh;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 2em;
}

/* ORDER COMPONENT */
.orderNav {
  margin: 1em auto;
}
.orderLink {
  color: #ccc;
}
.activeOrderLink {
  color: #000;
}
.orderTable {
  width:100%;
  overflow:scroll;
}
.activeOrder{
  border:2px solid black;
}
.activeOrderList {
  list-style-type: none;
}
.modifyOrderForm{
  width:60%;
}