.order-container {
  position: relative;
  width: 40%;
  margin: 0 auto;
}
.form-check {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.categoryPic {
  width: 100%;
  height: auto;
}
.category {
  overflow: hidden;
}

.category:hover {
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .order-container {
    width: 100%;
    margin-bottom: 1em;
  }
  .categories {
    display: block;
  }
  .category {
    width: 90%;
    margin: 2em auto;
  }
  .container {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  .lead {
    font-size: 120%;
  }
}
@media only screen and (min-width: 801px) {
  .container {
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    margin-top: 6em;
    margin-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    width: 100%;
    margin: 2em auto;

    display: flex;
  }
  .category {
    width: 30%;
    height: 250px;
    cursor: pointer;
  }
  .nucs {
    margin: 0% 5%;
  }
}
@media only screen and (min-width: 1601px) {
  .container {
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    width: 100%;
    margin: 4em auto;
    display: flex;
  }
  .category {
    width: 30%;
    height: 250px;
    cursor: pointer;
  }
  .nucs {
    margin: 0% 5%;
  }
}
